<!doctype html>
<html lang="en"	ng-app="todo">
<head>
	<meta charset="UTF-8">
	<title>todo</title>
	<link rel="stylesheet" href="../app/todoapp.css">
</head>
<body>
	<h1>Chaz's todo</h1>
	<div ng-controller="todoController">
		<form id="form" ng-submit="addTodo()">
			<input type="text" name="newtodo" ng-model="newTodo" required />
			<button ng-disabled="form.$invalid">Go</button>
		</form>
		<button id="clearCompletedButton" ng-click="clearCompleted()">Clear completed tasks</button>
		<ul>
			<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done" />
					<span ng-class="{'done':todo.done}">{{todo.title}}</span>			
			</li>
		</ul>
	</div>
<script src="../libs/angular.min.js"></script>
<script src="../libs/angular-mocks.js"></script>
<script src="../app/todoapp.min.js"></script>

</body>
</html>