.done{
	text-decoration: line-through; color:#AD66D5;
}
body { 
	text-align: center;
	background: #140014; 
}
h1 {
	text-align: center;
	font-family: verdana;
	font-style: italic;
	color: #7109AA;
}
ul {
	font-family: verdana;
	font-style: italic;
	font-weight: bold;
	color: #7109AA;
	list-style-type: none;
	text-align: center;
}

